<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>An example showing use of handlebar templating and hsb.partials in this case the footer!</h1>
    {{> footer}}
  </body>
</html>
